body{
    margin: 1em 2em;
    background-color: black;
    text-align: center;
}

.container{
    padding: 1em;
    display: flex;
    flex-flow: column;
    max-width: 1000px;
    margin: auto;
    background-color: cyan;
    border-radius: 1em;
    /* width: fit-content;
    height: fit-content; */
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

.picture{
    margin: 1em;
}

img{
    border-radius: 1em;
    /* margin: auto; */
}